.blog-form-main-div {
    background-color: #555;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: 3em auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    max-width: 747px;
}

.container div {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0055ff;
}

.blogposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.blogPostContainer {
    width: 45%;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 20px;
    background-color: #333;
}

.blogPostContainer .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.blogPostContainer .content {
    margin-bottom: 10px;
}

.blogPostContainer .button-div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.delete-button,
.edit-button,
.update-button {
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: pointer;
}

.blogPostContainer .delete-button:hover,
.blogPostContainer .edit-button:hover {
    background-color: #0055ff;
}

.blogPostContainer .edit-input {
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 10px;
    width: 95%;
}